:root {
  --color-primary: #1589af;
  --color-secondary: #0d7496;
  --color-active: #0f3745;
  --color-hover: #0f3745;
  --color-black: #000;
  --color-white: #fff;
  --color-links: #710a22;
  --color-red: #940c2c;
  --color-gray: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-links);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 15vh 5vh 70vh 10vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "bar Weekdays"
    "Sidebar Days"
    "Footer Footer";
}

.footer {
  grid-area: Footer;
}

.header {
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.month {
  padding: 0 25px;
  width: 100%;

  text-align: center;
  vertical-align: middle;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--color-white);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .prev,
.month .next {
  cursor: pointer;
  padding: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdayscontainer {
  grid-area: Weekdays;
}

.weekdays {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: var(--color-black);
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  padding: 0;
  background: var(--color-white);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.days li {
  flex: 0 0 auto;
  list-style-type: none;
  display: inline-block;
  width: calc(100% / 7);
  height: 75px;
  text-align: center;
  border: 1px solid var(--color-white);
  font-size: 24px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  line-height: 75px;
  position: relative;
}

.days li:hover:not(.disabled) {
  background-color: var(--color-hover);
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  font-size: 16px;
  display: block;
  color: var(--color-black);
}

li.active {
  background-color: var(--color-active);
  color: var(--color-white);
}

footer {
  text-align: center;
  background-color: var(--color-primary);
  background-image: url("../Images/aaaalogoTransparent.png");
  background-size: 6vh;
  padding-top: 0.5vh;
  background-repeat: no-repeat;
  height: 100%;
}
footer ul {
  text-align: center;
  padding: 0px;
  list-style: square;
}

footer li {
  display: inline;
  color: var(--color-white);
  padding: 5px;
}

footer li:hover {
  text-decoration: underline;
}

.sidebar {
  grid-area: Sidebar;
  height: 100%;
  list-style-type: none;
  background-color: var(--color-gray);
  border: 2px solid var(--color-black);
}

#bar div {
  display: none;
}
#todo {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#todo ul {
  list-style: none;
  padding: 3px 0 3px 0;
}

#todo li {
  margin: 0;
  display: flex;

  text-align: center;
  justify-content: center;
}

.todoItemDate {
  display: block;
  float: left;
}
#today {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--color-gray);
  border: 1px solid var(--color-white);
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

#today li {
  font-size: 20px;
}

#date {
  text-transform: capitalize;
}

#time {
  letter-spacing: 2px;
}

#bar {
  grid-area: bar;
  background-color: var(--color-gray);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0%;
  font-size: 15px;
}
#bar button {
  border: none;
  background-color: var(--color-gray);
}
#bar button:hover {
  color: var(--color-secondary);
}

/* modal popup */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: var(--color-secondary); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

.btn:hover {
  background: var(--color-hover);
}

.btn-red {
  background-color: var(--color-red);
}

.btn-red:hover {
  background: var(--color-links);
}

.fa {
  margin-right: 5px;
}

.input {
  padding: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 18px;
}

.form-label {
  display: flex;
  justify-content: center;
  font-size: 26px;
  padding: 10px;
}
.footerLogo {
  float: left;
  position: fixed;
  bottom: 0;
  margin: 0;
  border: 0;
  z-index: 999;
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "Header Header"
      "bar bar"
      "Sidebar Sidebar"
      "Footer Footer";
  }
  .weekdayscontainer {
    display: none;
  }
  #today {
    border: none;
    border-bottom: var(--color-white) 30px;
  }
  .days {
    display: none;
  }
  #bar div {
    display: block;
  }
  #bar {
    grid-area: bar;
    background-color: var(--color-gray);
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    font-size: 15px;
  }
}
