:root {
    --color-primary: #03634a;
    --color-secondary: #0d7496;
    --color-active: #0f3745;
    --color-hover: #0f3745;
    --color-black: #000;
    --color-white: #fff;
    --color-links: #710a22;
    --color-gray: #ddd
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-links);
}

a:hover {
    text-decoration: underline;
}

ul {
  list-style-type: none;
}

html,
body {
  margin: 0;
}


.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 15vh 5vh 70vh 10vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "bar Weekdays"
    "Sidebar Days"
    "Footer Footer";
}

.footer {
  grid-area: Footer;
}




.header {
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.month {
  padding: 0 25px;
  width: 100%;

  text-align: center;
  vertical-align: middle;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--color-white);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .prev,
.month .next {
    cursor: pointer;    
    padding: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdayscontainer {
  grid-area: Weekdays;
}

.weekdays {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  background-color: #ddd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.days {
  padding: 0;
  background: #fff;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  width: 100%;
  height: 100%;
}

.days li {
  flex: 0 0 auto;
  list-style-type: none;
  display: inline-block;
  width: calc(100% / 7);
  height: 75px;
  text-align: center;
  border: 1px solid white;
  font-size: 24px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  line-height: 75px;
}

.days li:hover:not(.disabled) {
  background-color: var(--color-hover);
}

li.active {
  background-color: var(--color-active);
  color: var(--color-white);
}

footer {
  text-align: center;
  background-color: var(--color-primary);
  padding-top: 10px;
  height: 100%;
}
footer ul {
  text-align: center;
  padding: 0px;
  list-style: square;
}

footer li {
  display: inline;
  color: var(--color-white);
  padding: 5px;
}

footer li:hover {
  text-decoration: underline;
}

.sidebar {
    grid-area: Sidebar;
    height: 100%;
    list-style-type: none;
    background-color: var(--color-white);
}

#todo {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

#todo ul {
    list-style: none;
    padding: 3px 0 3px 0;
}

#todo li {
    margin: 0;
    display: flex;
  
    text-align: center;
    justify-content: center;
}
  
#today {
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--color-white);
  border: white 1px solid;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-gray);
}

#today li {
  font-size: 20px;
}

#date {
  text-transform: capitalize;
}

#time {
  letter-spacing: 2px;
}

#bar {
  grid-area: bar;
  background-color: var(--color-white);
}

/* modal popup */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0px;
  width: 100%; 
  height: 100%;  
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: var(--color-secondary); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

.btn:hover {
  background: var(--color-hover);
}

.fa {
  margin-right: 5px;
}

.input {
  padding: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 18px;
}

.form-label {
  display: flex;
  justify-content: center;
  font-size: 26px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .container{
    grid-template-areas:
      "Header Header"
      "bar bar"
      "Sidebar Sidebar"
      "Footer Footer";
    }
    .weekdayscontainer {
      display: none;
    }
    #today {
      border: none;
      border-bottom: var(--color-white) 30px;
  
    }
    .days {
      display: none;
    }
  }