* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ddd;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}
ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 75px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid white;
  font-size: 24px;
  color: #777;
  background-color: rgb(209, 209, 209);
  padding: 20px;
}
.days li:hover {
  background-color: #1abc9c;
}
.active {
  padding: 1px;
  width: 13.6%;
  background-color: #1abc9c !important;
  color: white !important;
}

.btn {
  padding: 10px;
  background: #221f53;
  border: none;
  color: white;
  cursor: pointer;
  width: 150px;
  font-size: 18px;
  border-radius: 6px;
  margin: 0.5rem;
}

footer {
  text-align: center;
  background-color: #1abc9c;
  padding-top: 10px;
  height: 180px;
  color: #fff;
  font-size: 25px;
}
footer ul {
  text-align: center;
  padding: 0px;
  list-style: square;
}
footer li {
  display: inline;
}
#todo {
  position: fixed;
  left: 10%;
  bottom: 15px;
  width: 80%;
  height: 180px;
  border: 3px solid #fff;
  background-color: #666;
  text-align: center;
}
#todo h4 {
  color: #fff;
}
#todo ul {
  list-style: none;
  padding-left: 0px;
}
#todo li {
  margin: 0;
  display: flex;

  text-align: center;
  justify-content: center;
}
